@using SistemaAcai_II.Models.Constants
@inject SistemaAcai_II.Libraries.Login.LoginColaborador _colaborador


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Nilson Jose Alcides">

    <title>@ViewBag.Title</title>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Sistema Açai </title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/dashboard/dashboard.css" asp-append-version="true" />      
        <link rel="stylesheet" href="~/css/pagedlist/PagedList.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    </head>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->

</head>
<body>
    <nav class="navbar navbar-dark navbar-inverse fixed-top bg-dark flex-md-nowrap bg-primary-purple p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Painel</a>     
                
        <ul class="navbar-nav px-3 bg-primary-purple">
            <li class="nav-item text-nowrap">
                <a class="nav-link text-white" asp-area="Admin" asp-action="Logout" asp-controller="Home"><span>@_colaborador.GetColaborador().Nome </span> Sair</a>
            </li>
        </ul>
    </nav>

    
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 bg-light sidebar">
                <div class="sidebar-sticky text-white">
                    <ul class="nav flex-column" id="menuPainel">
                        <li class="nav-item">
                            <a class="nav-link active text-white" asp-area="Admin" asp-controller="Home" asp-action="Painel" data-index="1">
                                <i class="fa-solid fa-house"></i>
                                Painel de Controle (ALT + 1)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="Caixa" data-index="2">
                                <i class="fa-solid fa-file"></i>
                                Caixa (ALT + 2)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="Vendas" asp-controller="Comanda" data-index="3">
                                <i class="fa-solid fa-cart-shopping"></i>
                                Vendas (ALT + 3)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Produto" asp-action="Index" data-index="4">
                                <i class="fa-brands fa-product-hunt"></i>
                                Produto (ALT + 4)
                            </a>
                        </li>

                        @if (_colaborador.GetColaborador() != null && _colaborador.GetColaborador().Tipo == ColaboradorTipoConstant.Gerente)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Colaborador" asp-action="Index" data-index="5">
                                    <i class="fa-solid fa-users"></i>
                                    Colaborador (ALT + 5)
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Filiais" asp-action="Index" data-index="6">
                                    <i class="fa-solid fa-users"></i>
                                    Filiais (ALT + 6)
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Pagamento" asp-action="Index" data-index="7">
                                <i class="fa-solid fa-users"></i>
                                Forma de Pagamento (ALT + P)
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Cliente" asp-action="Index" data-index="7">
                                <i class="fa-solid fa-users"></i>
                                Cliente (ALT + 7)
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Comanda" asp-action="Index" data-index="8">
                                <i class="fa-solid fa-file"></i>
                                Comandas Abertas (ALT + 8)
                            </a>
                        </li>

                        @* <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Relatorios" asp-action="Index" data-index="9">
                                <i class="fa-solid fa-chart-bar"></i>
                                Relatórios (ALT + 9)
                            </a>
                        </li> *@
                    </ul>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><span class="nav-link active text-white"><i class="fa-solid fa-chart-bar"></i> Relatórios (ALT + 9)</span></li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Comanda" asp-action="ComandasFechada" data-index="9">
                                <i class="fa-solid fa-xmark"></i>
                                Comandas fechadas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Relatorios" asp-action="Index" data-index="10">
                                <i class="fa-regular fa-calendar-days"></i>
                               Comadas por data
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Relatorios" asp-action="ComandaHoje" data-index="10">
                                <i class="fa-solid fa-chart-bar"></i>
                                Comadas do dia
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>            

            <main role="main" class="offset-sm-2 col-md-9 ml-sm-auto col-lg-10 px-4">

                @RenderBody()
            </main>
        </div>
    </div>

   @*  <footer class="footer bg-dark-purple text-white text-center p-3">
        <p>© 2024 Sistema de Açaí - Todos os direitos reservados</p>
    </footer> *@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/CarrinhoCompras.js" asp-append-version="true"></script>

    <script src="~/js/charts/charts.js"></script>
   
    <script src="~/js/feather/feather.js"></script> 
    <script src="~/js/mask/jquery.mask.min.js"></script>
    <script>
        document.addEventListener('keydown', function (e) {
            if (e.altKey) {
                const key = parseInt(e.key);
                if (!isNaN(key) && key >= 1 && key <= 9) {
                    const menuItem = document.querySelector('#menuPainel a[data-index="' + key + '"]');
                    if (menuItem) {
                        window.location.href = menuItem.href;
                        e.preventDefault();
                    }
                }
            }
        });
    </script>
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

