@model SistemaAcai_II.Models.Caixa
@{
    ViewData["Title"] = "Caixa";
    var caixaAberto = ViewBag.CaixaAberto as SistemaAcai_II.Models.Caixa;
}


<h1>Caixa</h1>

<div class="d-flex gap-2 mt-2">
    @if (caixaAberto == null)
    {
        <form asp-action="Abrir" method="post" class="w-50">
            <div class="form-group col-5">
                <label>Valor Inicial do Caixa</label>
                <input type="text" asp-for="ValorInicial" class="form-control dineiro" step="0.01" required />
                <br />
                <button type="submit" class="btn btn-success w-100">
                    <i class="fa-solid fa-lock-open"></i>  Abrir Caixa
                </button>
            </div>
        </form>
    }
    else
    {
        <form asp-action="Fechar" method="post" class="w-50">
            <button type="submit" class="btn btn-danger w-100">
                <i class="fa-solid fa-unlock"></i>  Fechar Caixa
            </button>
        </form>
    }
</div>

