
@{
    ViewData["Title"] = "Index";
}

<h1>Caixa</h1>

<div class="d-flex gap-2 mt-2">
    <button id="btnFecharCaixa" class="btn btn-danger w-50">
        <i class="fa-solid fa-lock"></i> Fechar Caixa
    </button>
    <button id="btnAbrirCaixa" class="btn btn-success w-50">
        <i class="fa-solid fa-lock-open"></i> Abrir Caixa
    </button>
</div>

