@inject SistemaAcai_II.Libraries.Login.LoginColaborador _colaborador
@{
    ViewData["Title"] = "Painel";
}


<div class="d-flex flex-column flex-md-row justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
    
    <h1 class="h2 text-center text-md-left">Bem-vindo, <span>@_colaborador.GetColaborador().Nome!<span /></h1>
    <div class="btn-toolbar mb-2 mb-md-0 d-flex flex-wrap justify-content-center">
        <div class="btn-group mr-2 mb-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" title="Compartilhar">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" title="Exportar">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle mb-2">
            <span data-feather="calendar"></span> Esta semana
        </button>
    </div>
</div>

<!-- Gráfico responsivo -->
<div class="w-100" style="overflow-x: auto;">
    <canvas class="my-4" id="myChart" style="max-width: 100%; height: auto;"></canvas>
</div>

<h2 class="text-center text-md-left">Últimas Vendas</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>#Codigo</th>
                <th>Descrição</th>
                <th>Valor Total</th>
                <th>Data</th>
                <th>Filial</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#1001</td>
                <td>Açai / Sorvete / opcionais</td>
                <td>R$50,00</td>
                <td>25/01/2025</td>
                <td>Açai Tocantins</td>
                <td>Em preparação</td>
            </tr>
            <tr>
                <td>#2001</td>
                <td>Açai / Sorvete / opcionais</td>
                <td>R$50,00</td>
                <td>25/01/2025</td>
                <td>Açai Viçosa</td>
                <td>Em preparação</td>
            </tr>
            <tr>
                <td>#1002</td>
                <td>Açai / Sorvete / opcionais</td>
                <td>R$50,00</td>
                <td>25/01/2025</td>
                <td>Açai Tocantins</td>
                <td>Em preparação</td>
            </tr>
            <tr>
                <td>#2002</td>
                <td>Açai / Sorvete / opcionais</td>
                <td>R$50,00</td>
                <td>25/01/2025</td>
                <td>Açai Viçosa</td>
                <td>Completo</td>
            </tr>
            <tr>
                <td>#1003</td>
                <td>Açai / Sorvete / opcionais</td>
                <td>R$50,00</td>
                <td>25/01/2025</td>
                <td>Açai Tocantins</td>
                <td>Completo</td>
            </tr>
            <tr>
                <td>#2003</td>
                <td>Açai / Sorvete / opcionais</td>
                <td>R$50,00</td>
                <td>25/01/2025</td>
                <td>Açai Viçosa</td>
                <td>Pendente</td>
            </tr>
           
        </tbody>
    </table>


    <footer class="footer bg-dark-purple text-white text-center p-3">
        <p>© 2024 Sistema de Açaí - Todos os direitos reservados</p>
    </footer>
</div>


