@model SistemaAcai_II.Models.Filiais
@{
    ViewData["Title"] = "Atualizar";
}

<h1>Atualizar</h1>


<form method="post">
    <section class="container" style="margin-top: 50px">
        <div class="row">
            <aside class="col-sm-6">
                <div class="form-group">
                    <input asp-for="Id" type="hidden" />

                    <label asp-for="RazaoSocial"></label>
                    <input asp-for="RazaoSocial" class="form-control" placeholder="Digite a razão social">
                    <span asp-validation-for="RazaoSocial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NomeFantasia"></label>
                    <input asp-for="NomeFantasia" class="form-control">
                    <span asp-validation-for="NomeFantasia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CNPJ"></label>
                    <input asp-for="CNPJ" class="form-control cnpj">
                    <span asp-validation-for="CNPJ" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IE"></label>
                    <input asp-for="IE" class="form-control ie">
                    <span asp-validation-for="IE" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone"></label>
                    <input asp-for="Telefone" class="form-control">
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Salvar</button>
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </aside>
        </div>
    </section>
</form>