@model List<SistemaAcai_II.Models.ProdutoSimples>

@{
    ViewData["Title"] = "Produtos";
}

<h2>Lista de Produtos</h2>

<a class="btn btn-primary" href="/Admin/Produto/Cadastrar">Cadastrar Novo Produto</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Preço Unitário</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Id</td>
                <td>@produto.Descricao</td>
                <td>R$ @produto.PrecoUn.ToString("N2")</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="/Admin/Produto/Atualizar/@produto.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
